<div class="schedule-header">
  <h2>
    2023 Indianapolis Colts Schedule
  </h2>
</div>

<div class="regseason">
  <% @schedules.each do |schedule| %>
    <div class="week-info">
      <div class="row-header">
        <h3 class="week">
          Week <%= schedule.week %>
        </h3>
        <% if schedule.gamedate == 'TBD' %>
          <p>TBD</p>
        <% else %>
          <p class="gameDate">
            <%= schedule.gamedate %>
          </p>
        <% end %>
        </p>
        &#x25CF;
        <% if schedule.gametime == 'TBD' %>
          <p>TBD</p>
        <% else %>
          <p class="gameTate">
            <%= schedule.gametime %>
          </p>
        <% end %>
      </div>
      <div class="game-details">
        <% if schedule.location == 'away' %>
          <p class="at-designator">&#x40;</p>
        <% else %>
          <p></p>
        <% end %>
        <img class="teamLogo">
          <%# <%= image_tag schedule.oppimage %>
        <h3 class="oppName">
          <%= schedule.oppname %>
        </h3>
      </div>
    </div>
    <hr class="game-divider" />
  <% end %>
</div>