<div class="schedule-header">
  <h2>
    2023 Indianapolis Colts Schedule
  </h2>
</div>

<div class="regseason">
  <% @schedules.each do |schedule| %>
    <div class="week-info">
      <div class="row-header">
        <p class="week">
          Week <%= schedule.week %>
        </p>
        <p class="gameDate">
          <%= gamedate(schedule) %>
        </p>
          &#x25CF;
        <p class="gameTime">
          <%= gametime(schedule) %>
        </p>
      </div>
      <div class="game-details">
        <% if schedule.oppimage != ''%>
          <img class="teamImage">
            <%= image_tag schedule.oppimage %>
        <% else %>
          <img class="teamImage">
            <%= image_tag 'colts.png' %>
          <% end %>
        <p class="oppName">
          <%= schedule.oppname %>
        </p>
        <div class="game-result">
          <p class="result">
            <%= schedule.result %>
          </p>
          <p class="score">
            <%= schedule.indyscore %>
          </p>
          &ndash;
          <p class="score">
            <%= schedule.oppscore %>
          </p>
        </div>
      </div>
    </div>
    <hr class="game-divider" />
  <% end %>
</div>