<div class="schedule-header">
  <h2>
    2023 Indianapolis Colts Schedule
  </h2>
</div>

<div class="regseason">
  <% @schedules.each do |schedule| %>
    <div class="week-info">
      <div class="row-header">
        <p class="week">
          Week <%= schedule.week %>
        </p>
        <% if schedule.gamedate != 'TBD' %>
          <p class="gameDate">
            <%# <%= schedule.gamedate.strftime("%^a %m-%d-%Y") %>
          </p>
          <% else %>
            <p class="gameDate">TBD</P>
        <% end %>
          &#x25CF;
        <% if schedule.gametime != 'TBD' %>
          <p class="gameTime">
          <%#  <%= schedule.gametime.strftime("%l:%M %p EST") %>
          </p>
        <% else %>
          <p class="gameTime">TBD</p>
        <% end %>
      </div>
      <div class="game-details">
        <img class="teamImage">
        <%#  <%= image_tag schedule.oppimage %>
        <p class="oppName">
          <%= schedule.oppname %>
        </p>
        <div class="game-result">
          <p class="result">
            <%= schedule.result %>
          </p>
          <p class="score">
            <%= schedule.indyscore %>
          </p>
          &ndash;
          <p class="score">
            <%= schedule.oppscore %>
          </p>
        </div>
      </div>
    </div>
    <hr class="game-divider" />
  <% end %>
</div>