<h2>Updating <%= @player.name %>  </h2>

<h3>Player Information</h3>

<%= form_with(model: @player) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :number %>
  <%= f.number_field :number %>

  <%= f.label :position %>
  <%= f.text_field :position %>

  <%= f.label :status %>
  <%= f.text_field :status %>

  <%= f.label :exp %>
  <%= f.number_field :exp %>

  <%= f.label :college %>
  <%= f.text_field :college %>

  <%= f.submit %>
<% end %>

<h3><%=  @player.name %> Stats Update</h3>

<%= render "form", player: @player %>