<section class="player-page">
  <div class="player-details">
    <div class="player-section">
      <img class="player-image">
        <%= image_tag @pracsquad.photo %>
      <div class="player-header">
        <h2><%= @pracsquad.name %></h2>
        <div class="player-details">
          <h3 class="playerNum"><%= @pracsquad.number %></h3>
          &#x25CF;
          <h3 class="playerPos"><%= @pracsquad.position %></h3>
        </div>
        <div class="player-status">
          <p class="status">Status: <%= @pracsquad.status %></p>
        </div>
        <div class="player-xp">
          <p class="xp">Experience: <%= @pracsquad.exp %></p>
        </div>
        <div class="player-college">
            <p class="college">College: <%= @pracsquad.college %></p>
          </div>
      </div> 
    </div>
  </div>
  <div class="stats-section">
    <div class="stats-title">
      <h2>2023 Season Stats</h2>
    </div>
  </div>
</section>